{% extends "core/base.html" %}

{% block titulo %}

Carrito

{% endblock titulo %}

{% load static %}

{%  block contenido %}
<center>
    <div style="padding: 50px;">
        <div class="container">
            <div class="row destacados">  
                <div >
                    <div class="box3">
                        <h3 class="titulo">Carro de Compras</h2>
                    </div>
                </div>
            </div>  
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nombre del Producto</th>
                                <th class="text-center">Precio</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Precio por Producto</th>
                                <th> </th>
                            </tr>
                        </thead>
                        {% for f in x %}
                        <tbody>
                            <tr>
                                <td class="col-md-6">
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">{{f.nombre}}</a></h4>  
                                        </div>
                                    </div>
                                </td>
                                <td class="col-md-1" style="text-align: center">${{f.precio}}</td>
                                <td class="col-md-1 text-center"><strong>{{f.cantidad}}</strong></td>
                                <td class="col-md-1">${{f.total}}</td>
                                <td>
                                    <input style="background: white" type="button" value=✔️ onclick="javascript:location.href='{% url 'CARRO_MAS' f.nombre %}'" >
                                    <input style="background: white" type="button" value=❌ onclick="javascript:location.href='{% url 'CARRO_MENOS' f.nombre %}'" >
                                </td>
                            </tr>
                            {% endfor %} 
                            <tr>
                            <td><h3>Valor Total:</h3></td>   
                                <td>   </td>
                                <td>   </td>
                                <td class="text-right"><h3><strong>${{total}}</strong></h3></td>
                                <td>   </td>
                            </tr>
                            <tr>
                                <td>   </td>
                                <td>   </td>
                                <td>
                                    <button type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-shopping-cart" ><a href="{% url 'GAL' %}">Seguir Comprando</a></span> 
                                    </button>
                                </td>
                                <td>
                                    <input class="btn btn-success" type="button" value="PAGAR" onclick="javascript:location.href='{% url 'GRABAR_CARRO' %}'" ></td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</center>

{% endblock contenido %}

