{% extends "core/base.html" %}

{% block titulo %}
Galeria
{% endblock titulo %}

{% load static %}

{%  block contenido %}
<!--listado de flores-->
<h2 class ="titulo">Galeria</h2>
<!--Cada una de las flores-->
{% for f in lista %}   
<div class="col-lg-3 col-md-4 col-sm-6 mix sale rounded" style="display: inline-block; padding-left: 140px; " data-bound="">
    <center>
        <div class="single_product" style="border:3px solid cornflowerblue; padding-bottom: 10px;">
            <div class="product_image" style="padding-top: 10px">
                <img src="{{f.imagen.url}}" style="width:150px; height: 150px; border-image: 2px; text-align: center;" class="rounded">								
            </div>
            <div class="product_btm_text" style="text-align: center;">
                <h4>{{f.name}}</h4>						
                <h3 class="price" style="color:darkgreen; size: 50pxpx;">${{f.precio}}
                    <a href="{% url 'AGREGAR_CARRO' f.name %}"><i class="fa fa-cart-plus"></i></a>
                    <h4>
                        {{f.descripcion}}
                    </h4>
                </h3>
            </div>
        </div>
    </center>
</div>





    

{% endfor %}


{% endblock contenido %}

