{% extends "core/base.html" %}

{% block titulo %}

Pagina principal

{% endblock titulo %}

{% load static %}


{%  block contenido %}
<div>


</div>

<center style="padding: 30px;">
  <div class="card" style="width: 660px; border-color: cornflowerblue;">
    <div class="card-body">
      <h5 class="card-title">Floreria los Tulipanes </h5>
      <p class="card-text">"Productos para cada ocasión"</p>
      <img src="{% static 'img/2da baner.jpg' %}" width="100%px" height="170px" >
    </div>
  
  </div>
</center>
{% endblock contenido %}

