{% extends "core/base.html" %}

{% block titulo %}

Quienes Somos

{% endblock titulo %}

{% load static %}


{%  block contenido %}


<div class="aboutus-section" style="padding:25px; border: 1px solid cornflowerblue;">
        <div class="container" style="padding:25px; border: 1px solid cornflowerblue;">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">Sobre nosotros</h2>
                        <p class="aboutus-text">Los Tulipanes es una florería en línea. Legalmente hablando, somos una pequeña empresa que se dedica a la venta de flores y arreglos por internet
                                                Hacemos entrega de nuestros arreglos florales y ramos de flores, para todo tipo de eventos especiales.</p>
                        <p class="aboutus-text">14 años de trayectoria nos avala.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="{%  static 'img/slide_floreria.jpg' %}"   width="300%px;" alt="Responsive image" >
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12"> </div>
            </div>
        </div>
    </div>

{% endblock contenido %}

