{% extends "core/base.html" %}

{% block titulo %}

Productos

{% endblock titulo %}

{% load static %}


{%  block contenido %}


<div class="aboutus-section" style="padding:20px; border: 1px solid brown;">
        <div class="container" style="padding:20px; border: 1px solid brown;">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">Acerca de nosotros</h2>
                        <p class="aboutus-text">Somos una pequeña floreria, hacemos de todo tipo de arreglos florales</p>
                        <p class="aboutus-text">5 años de trayectoria nos avalan</p>
                        <a class="aboutus-more" href="#">Leer mas</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="{%  static 'img/vendedor.jpg' %}" alt="" style="height 900px; width: 250px;">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Trabajomos con el corazon</h4>
                                    <p>Amamos lo que hacemos y nos encanta hacer feliz a las personas.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Todo lo hacemos con dedicacion</h4>
                                    <p>Podemos realizar un millon de arreglos florales diarios, si nos proponemos</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Detallistas</h4>
                                    <p>Somos detallistas en cada uno de los petalos de nuestras rosas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}

