{% extends "core/base.html" %}

{% block titulo %}
Ubicacion

{% endblock titulo %}

{% load static %}


{%  block contenido %}
<div style="border: 1px solid brown">
<div>
    <h2 class="titulo">Nuestra ubicación</h2>
    <center>
    
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26589.980099038636!2d-70.6463623!3d-33.5859043!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d925e2770c91%3A0xb1ae63464dde0be1!2sFlorer%C3%ADa%20La%20Pintana!5e0!3m2!1ses!2scl!4v1574007238570!5m2!1ses!2scl" width="900" height="450" frameborder="0" style="border:0;" allowfullscreen="" ></iframe>

<p>¡ Visitanos, te esperamos ! </p>


    </center>
</div>
</div>
{% endblock contenido %}

